@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(webfonts/AurulentSans/font.css);
@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 0.9em;
    line-height: 1.4em;
    font-family: "Myriad Pro", "PT Sans", "Lucida Grande", "Arial", sans-serif;
    color: #0d0015; /* 漆黒 */
    background-color: #e7e7eb; /* 紫水晶 */
}
p {
    margin: 0 0 5px 0;
    word-break: normal;
    word-wrap: break-word;
}
div.document {
    color: inherit;
    background-color: #ffffff; /* 白 */
    padding: 0px 25px 5px 25px;
    margin: 0px 10px;
}
div.section{
    margin: 0px 10px 0px 10px;
}
h1.title {
    font-size: x-large;
    color: #fbfaf5; /* 生成り */
    background-color: #474a4d; /* 藍墨茶 */
    margin-bottom: 5px;
    padding: 10px 8px;
    text-align: left;
}
div.footer {
    color: #fbfaf5; /* 生成り */
    background-color: #474a4d; /* 藍墨茶 */
    text-align: right;
    padding-right: 5px;
    margin: -5px 10px -2px 10px;
}
div.footer hr {
    display: none;
}
h1, h2, h3 {
    font-family: "Optima", "Trebuchet MS", "Aurulent sans", sans-serif;
    font-weight: normal;
    margin: 4px -25px;
    padding: 8px;
}
div.section h1, h2, h3 {
    border-bottom: 1px solid #ba2636; /* 朱 */
    color: inherit;
    background-color: #fbfaf5; /* 生成り */
    font-size: medium;
}
div.section h1 {
    border-left: 12px solid #ba2636; /* 朱 */
}
div.section h2 {
    border-left: 8px solid #ba2636; /* 朱 */
}
div.section h3 {
    border-left: 4px solid #ba2636; /* 朱 */
}
a:link {
    color: #ba2636; /* 朱 */
    background-color: inherit;
}
a:visited {
    color: #d3381c; /* 緋色 */
    background-color: inherit;
}
a:hover {
    text-shadow: 2px 2px 2px #a3a3a2; /* 薄墨 */
}
tr, td, th {
    text-align: left;
}
td {
    padding-left: 1em;
}
th.field-name{
    color: #474a4d; /* 藍墨茶 */
}
ul, ol, dl {
    list-style-position: outside;
    padding: 0px;
}
li, dt, dd {
    margin: 0px 5px 5px 5px;
}
ul {
    margin: 5px 20px 5px 10px;
    list-style-type: square;
}
ol {
    margin: 5px 20px 5px 10px;
}
img {
    vertical-align: middle;
    border: none;
}
pre {
    margin: 5px 0px;
    padding: 4px 0px;
    font-family: "Consolas", "Inconsolata", "Menlo", "Lucida Console", monospace;
    word-break: normal;
    word-wrap: break-word;
    white-space: pre-wrap;
    border: 1px solid #ac9;
    border-left: none;
    border-right: none;
}
blockquote {
    margin: 10px;
    padding: 0 10px;
    background-color: #e7e7eb; /* 紫水晶 */
    font-family: "Crimson Text", "Palatino", "Book Antiqua", serif;
}
p.attribution {
    text-align: right;
    font-style: italic;
}
address {
    font-family: "Consolas", "Inconsolata", "Menlo", "Lucida Console", monospace;
    font-style: normal;
}
